@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


.containerEvent {
    background-image: linear-gradient(#4DA0B0, #D39D38);
    box-shadow: 10px 10px 10px 10px black;;
    opacity: 0.8;

}

.container:hover{
    opacity: 1.3;

}

.custom-select{
    color: black;
    background-color: #f4a900;
    border-radius: 9%;
    border: 15px solid #F67280;
    border: groove;
    box-sizing: border-box;
    box-shadow: 10px 10px 10px black;
    font-family: 'Indie Flower', cursive;
    width: 200px;
    height: 60px;
    font-size: 25px;

    
}

.titelClass{
    background-color: #f4a900;
    height: 60px;
    width: 200px;
    font-size: 25px;
    
}

.body{
  
    background-image: url('../images/jannes-glas-0NaQQsLWLkA-unsplash.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 1400px;
  width: 1600px;
  margin-left: 120px;
}


textarea{
    color:  #C06C84;
    width: 800px;
    font-size: 25px;

}

h1{
    font-family: 'Indie Flower', cursive;

}