.loginBox{
    display: flex;
    align-items: flex-end;
}

    html, body {
        height: 100%;
      }
      
      .wrap {
        height: 100%;
        display: flex;
        align-items:flex-end;
        justify-content: space-around;
        padding-top: 3%;
        padding-bottom: 2%;
        margin-bottom: 5%;
        width: 100%;
        background-image: linear-gradient(45deg,#ff0000 20%,  #b30000 20%, #ffbfbf 20%, wheat 10%);
        opacity: 60%;
        background-image: url(../images/wallPic.webp);
        
        
        
       
      }
      
      .button {
        width: 100px;
        height: 30px;
        
        font-family: 'Roboto', sans-serif;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        color: #000;
        background-color: #fff;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
        }
      
      .button:hover {
        background-color: #CCE5FF;
        box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
        color: #fff;
        transform: translateY(-7px);
      }

    
      .house{
          width: 90em;
          height: 100%;
          border-style: solid;
          border-width: 3px;
          border-color: #FFE5CC;
          background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-color: #000;
margin-right: 200px;
      }

    
   

      .buttonWraper{
       display: flex;
       justify-content: end;
       align-items: flex-end;
       margin-left: 70%;
      }
    



      .container {
        position: relative;
      }
      
      /* Bottom right text */
      .text-block {
        position: absolute;
        top: 20px;
        left: 20px;
        height: 100px;
        width: 300px;
        background-color: black;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
        opacity: 70%;

      }

      .containerHome{
        box-shadow: 10px 10px 10px 10px black;;

      }