


.imageNeighbears{
    border: 3px solid orange;
    border-radius: 50%;
    border-style: dotted;
}

.containerNei{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    box-shadow: 5px;
    shape-outside: 5px;
    background-color: coral;

}

.nameNei p{
    padding-right: 350px;
    color: white;
    font-size: 25px;

}

.imageNei{
    border-radius: 50%;
}

.backgroundForNei{
    background-color: black;
}



   