@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');



.imgProfile{
    width: 200px;
    height: 200px;
    margin-top: 50px;
    border: 5px solid black;
    border-color: rosybrown;
    border-radius: 50%;
}


.card {
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 1000px;
    margin: auto;
    text-align: center;
    background-image: linear-gradient(to right , #fffbd5, #b20a2c);
}
  
  .title {
    color: grey;
    font-size: 30px;
  }
  
  .profileButton {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-image: linear-gradient(to right , #fffbd5, rosybrown, #b20a2c);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    opacity: 0.6;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  .profileButton:hover, a:hover {
    opacity: 0.7;
  }


  h2{
    font-family: 'Indie Flower', cursive;

  }

  h3{
    font-family: 'Indie Flower', cursive;

  }