@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');



.scroll {
  
  
    color: white;
    overflow-y:scroll;
    overflow-x: scroll;
    bottom: 10px;
    width: 100%;
    height: 80px;
    border: 3px solid black;
    max-height: 100px;
   
}

.scroll h3{
    color:   #E84A5F
}

.scroll h5 {
    color:  #99B898
}

.scroll p{
    color:  #FECEAB;
    font-size: 22px;
    
}

.floatLeft{
float: left;
}

.floatRight{
float: right;
}

.otherContainer{
   
    overflow-y:scroll;
    overflow-x: scroll;
    
    max-height: 100px;
    width: 1200px;
   

}

.h1{
    font-family: 'Indie Flower', cursive;

}

.containerFood{   
    background-color: blue;
    width: 600px;
    height: 200px;
}

.containerSport{
    background-color: orange;
    width: 600px;
    height: 200px;

}

.containerPost{
    background-color: #99B898;
    width: 600px;
    height: 200px;
  

}

.containerAnimals{
    background-color: plum;
    color: white;
    width: 600px;
    height: 200px;

}

.containerHelp{
    background-color: purple;
    color: white;
    width: 600px;
    height: 200px;
}

.containerMoving{
    background-color: yellow;
    color: white;
    width: 600px;
    height: 200px;

}

.containerParty{
    background-color: darkgreen;
    color: white;
    width: 600px;
    height: 200px;

}