@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');



.scroll {
  
  
    color: white;
    overflow-y:scroll;
    overflow-x: scroll;
    bottom: 10px;
    width: 100%;
    height: 200px;
    border: 3px solid black;
    max-height: 100px;
   
}

.scroll h3{
    color:   #E84A5F
}

.scroll h5 {
    color:  #99B898
}

.scroll p{
    font-size: 22px;
    
}

.floatLeft{
float: left;
}

.floatRight{
float: right;
}

.otherContainer{
   
    overflow-y:scroll;
    overflow-x: scroll;
    
    width: 1200px;
   

}

.h1{
    font-family: 'Indie Flower', cursive;

}

.containerFood{   
    background-color: blue;
    margin: 25px;
    width: 250px;
    min-height:250px;
    max-height:250px;
    padding-top:35px;
    height: 100px;
}

.containerSport{
    background-color: orange;
    margin: 25px;
    width: 250px;
    min-height:250px;
    max-height:250px;
    padding-top:35px;
    height: 100px;

}

.containerPost{
    background-color: #99B898;
    margin: 25px;
    width: 250px;
    min-height:250px;
    max-height:250px;
    padding-top:35px;
    height: 100px;
  

}

.containerAnimals{
    background-color: plum;
    color: white;
    margin: 25px;
    width: 250px;
    min-height:250px;
    max-height:250px;
    padding-top:35px;
    height: 100px;

}

.containerHelp{
    background-color: pink;
    color: white;
    margin: 25px;
    width: 250px;
    min-height:250px;
    max-height:250px;
    padding-top:35px;
    height: 100px;

}

.containerPLants{
    margin: 25px;
    width: 250px;
    min-height:250px;
    max-height:250px;
    padding-top:35px;
    height: 100px;
    background: #ffff88; /* Old browsers */
    color: green

}

.containerParty{
    background-color: darkgreen;
    color: white;
    margin: 25px;
    width: 250px;
    min-height:250px;
    max-height:250px;
    padding-top:35px;
    height: 100px;

}